In [1]:
!pip install CFEDemands --upgrade
!pip install xarray
!pip install dvc
!pip install --upgrade oauth2client

Requirement already up-to-date: CFEDemands in /opt/conda/lib/python3.8/site-packages (0.2.7)
Requirement already satisfied: xarray in /opt/conda/lib/python3.8/site-packages (0.16.2)
Requirement already satisfied: setuptools>=38.4 in /opt/conda/lib/python3.8/site-packages (from xarray) (49.6.0.post20210108)
Requirement already satisfied: numpy>=1.15 in /opt/conda/lib/python3.8/site-packages (from xarray) (1.19.5)
Requirement already satisfied: pandas>=0.25 in /opt/conda/lib/python3.8/site-packages (from xarray) (1.2.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.8/site-packages (from pandas>=0.25->xarray) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.8/site-packages (from pandas>=0.25->xarray) (2020.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.25->xarray) (1.15.0)
Requirement already satisfied: dvc in /opt/conda/lib/python3.8/site-packages (2.0.17)
Requirement already satisfied: distro>=1.3.0 in /opt/conda/lib/python3.8/site-packages (from dvc) (1.5.0)
Requirement already satisfied: ply>=3.9 in /opt/conda/lib/python3.8/site-packages (from dvc) (3.11)
Requirement already satisfied: colorama>=0.3.9 in /opt/conda/lib/python3.8/site-packages (from dvc) (0.4.3)
Requirement already satisfied: pathspec>=0.6.0 in /opt/conda/lib/python3.8/site-packages (from dvc) (0.8.1)
Requirement already satisfied: configobj>=5.0.6 in /opt/conda/lib/python3.8/site-packages (from dvc) (5.0.6)
Requirement already satisfied: networkx>=2.1 in /opt/conda/lib/python3.8/site-packages (from dvc) (2.5)
Requirement already satisfied: funcy>=1.14 in /opt/conda/lib/python3.8/site-packages (from dvc) (1.15)
Requirement already satisfied: rich>=10.0.0 in /opt/conda/lib/python3.8/site-packages (from dvc) (10.1.0)
Requirement already satisfied: requests>=2.22.0 in /opt/conda/lib/python3.8/site-packages (from dvc) (2.25.1)
Requirement already satisfied: pygtrie==2.3.2 in /opt/conda/lib/python3.8/site-packages (from dvc) (2.3.2)
Requirement already satisfied: shtab<2,>=1.3.4 in /opt/conda/lib/python3.8/site-packages (from dvc) (1.3.5)
Requirement already satisfied: voluptuous>=0.11.7 in /opt/conda/lib/python3.8/site-packages (from dvc) (0.12.1)
Requirement already satisfied: appdirs>=1.4.3 in /opt/conda/lib/python3.8/site-packages (from dvc) (1.4.4)
Requirement already satisfied: pyasn1>=0.4.1 in /opt/conda/lib/python3.8/site-packages (from dvc) (0.4.8)
Requirement already satisfied: flufl.lock<4,>=3.2 in /opt/conda/lib/python3.8/site-packages (from dvc) (3.2)
Requirement already satisfied: tabulate>=0.8.7 in /opt/conda/lib/python3.8/site-packages (from dvc) (0.8.9)
Requirement already satisfied: grandalf==0.6 in /opt/conda/lib/python3.8/site-packages (from dvc) (0.6)
Requirement already satisfied: jsonpath-ng>=1.5.1 in /opt/conda/lib/python3.8/site-packages (from dvc) (1.5.2)
Requirement already satisfied: pygit2>=1.5.0 in /opt/conda/lib/python3.8/site-packages (from dvc) (1.5.0)
Requirement already satisfied: nanotime>=0.5.2 in /opt/conda/lib/python3.8/site-packages (from dvc) (0.5.2)
Requirement already satisfied: psutil>=5.8.0 in /opt/conda/lib/python3.8/site-packages (from dvc) (5.8.0)
Requirement already satisfied: dictdiffer>=0.8.1 in /opt/conda/lib/python3.8/site-packages (from dvc) (0.8.1)
Requirement already satisfied: typing-extensions>=3.7.4 in /opt/conda/lib/python3.8/site-packages (from dvc) (3.7.4.3)
Requirement already satisfied: packaging>=19.0 in /opt/conda/lib/python3.8/site-packages (from dvc) (20.9)
Requirement already satisfied: dulwich>=0.20.21 in /opt/conda/lib/python3.8/site-packages (from dvc) (0.20.21)
Requirement already satisfied: ruamel.yaml>=0.16.1 in /opt/conda/lib/python3.8/site-packages (from dvc) (0.17.2)
Requirement already satisfied: gitpython>3 in /opt/conda/lib/python3.8/site-packages (from dvc) (3.1.14)
Requirement already satisfied: setuptools>=34.0.0 in /opt/conda/lib/python3.8/site-packages (from dvc) (49.6.0.post20210108)
Requirement already satisfied: tqdm<5,>=4.45.0 in /opt/conda/lib/python3.8/site-packages (from dvc) (4.56.0)
Requirement already satisfied: diskcache>=5.2.1 in /opt/conda/lib/python3.8/site-packages (from dvc) (5.2.1)
Requirement already satisfied: flatten-dict<1,>=0.3.0 in /opt/conda/lib/python3.8/site-packages (from dvc) (0.3.0)
Requirement already satisfied: pydot>=1.2.4 in /opt/conda/lib/python3.8/site-packages (from dvc) (1.4.1)
Requirement already satisfied: toml>=0.10.1 in /opt/conda/lib/python3.8/site-packages (from dvc) (0.10.2)
Requirement already satisfied: zc.lockfile>=1.2.1 in /opt/conda/lib/python3.8/site-packages (from dvc) (2.0)
Requirement already satisfied: shortuuid>=0.5.0 in /opt/conda/lib/python3.8/site-packages (from dvc) (1.0.1)
Requirement already satisfied: dpath<3,>=2.0.1 in /opt/conda/lib/python3.8/site-packages (from dvc) (2.0.1)
Requirement already satisfied: pyparsing==2.4.7 in /opt/conda/lib/python3.8/site-packages (from dvc) (2.4.7)
Requirement already satisfied: fsspec>=0.8.5 in /opt/conda/lib/python3.8/site-packages (from dvc) (0.8.7)
Requirement already satisfied: python-benedict>=0.21.1 in /opt/conda/lib/python3.8/site-packages (from dvc) (0.23.2)
Requirement already satisfied: six in /opt/conda/lib/python3.8/site-packages (from configobj>=5.0.6->dvc) (1.15.0)
Requirement already satisfied: decorator>=4.3.0 in /opt/conda/lib/python3.8/site-packages (from networkx>=2.1->dvc) (4.4.2)
Requirement already satisfied: pygments<3.0.0,>=2.6.0 in /opt/conda/lib/python3.8/site-packages (from rich>=10.0.0->dvc) (2.8.1)
Requirement already satisfied: commonmark<0.10.0,>=0.9.0 in /opt/conda/lib/python3.8/site-packages (from rich>=10.0.0->dvc) (0.9.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.8/site-packages (from requests>=2.22.0->dvc) (1.25.7)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/conda/lib/python3.8/site-packages (from requests>=2.22.0->dvc) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/lib/python3.8/site-packages (from requests>=2.22.0->dvc) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.8/site-packages (from requests>=2.22.0->dvc) (2019.11.28)
Requirement already satisfied: atpublic in /opt/conda/lib/python3.8/site-packages (from flufl.lock<4,>=3.2->dvc) (2.1.3)
Requirement already satisfied: future in /opt/conda/lib/python3.8/site-packages (from grandalf==0.6->dvc) (0.18.2)
Requirement already satisfied: cffi>=1.4.0 in /opt/conda/lib/python3.8/site-packages (from pygit2>=1.5.0->dvc) (1.14.5)
Requirement already satisfied: cached-property in /opt/conda/lib/python3.8/site-packages (from pygit2>=1.5.0->dvc) (1.5.2)
Requirement already satisfied: ruamel.yaml.clib>=0.1.2; platform_python_implementation == "CPython" and python_version < "3.10" in /opt/conda/lib/python3.8/site-packages (from ruamel.yaml>=0.16.1->dvc) (0.2.2)
Requirement already satisfied: gitdb<5,>=4.0.1 in /opt/conda/lib/python3.8/site-packages (from gitpython>3->dvc) (4.0.7)
Requirement already satisfied: pathlib2<3.0,>=2.3 in /opt/conda/lib/python3.8/site-packages (from flatten-dict<1,>=0.3.0->dvc) (2.3.5)
Requirement already satisfied: pyyaml in /opt/conda/lib/python3.8/site-packages (from python-benedict>=0.21.1->dvc) (5.4.1)
Requirement already satisfied: python-fsutil in /opt/conda/lib/python3.8/site-packages (from python-benedict>=0.21.1->dvc) (0.4.0)
Requirement already satisfied: xmltodict in /opt/conda/lib/python3.8/site-packages (from python-benedict>=0.21.1->dvc) (0.12.0)
Requirement already satisfied: mailchecker in /opt/conda/lib/python3.8/site-packages (from python-benedict>=0.21.1->dvc) (4.0.6)
Requirement already satisfied: ftfy; python_version > "2.7" in /opt/conda/lib/python3.8/site-packages (from python-benedict>=0.21.1->dvc) (5.9)
Requirement already satisfied: python-slugify in /opt/conda/lib/python3.8/site-packages (from python-benedict>=0.21.1->dvc) (4.0.1)
Requirement already satisfied: phonenumbers in /opt/conda/lib/python3.8/site-packages (from python-benedict>=0.21.1->dvc) (8.12.20)
Requirement already satisfied: python-dateutil in /opt/conda/lib/python3.8/site-packages (from python-benedict>=0.21.1->dvc) (2.8.1)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.8/site-packages (from cffi>=1.4.0->pygit2>=1.5.0->dvc) (2.20)
Requirement already satisfied: smmap<5,>=3.0.1 in /opt/conda/lib/python3.8/site-packages (from gitdb<5,>=4.0.1->gitpython>3->dvc) (4.0.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.8/site-packages (from ftfy; python_version > "2.7"->python-benedict>=0.21.1->dvc) (0.2.5)
Requirement already satisfied: text-unidecode>=1.3 in /opt/conda/lib/python3.8/site-packages (from python-slugify->python-benedict>=0.21.1->dvc) (1.3)

Requirement already up-to-date: oauth2client in /opt/conda/lib/python3.8/site-packages (4.1.3)
Requirement already satisfied, skipping upgrade: pyasn1>=0.1.7 in /opt/conda/lib/python3.8/site-packages (from oauth2client) (0.4.8)
Requirement already satisfied, skipping upgrade: httplib2>=0.9.1 in /opt/conda/lib/python3.8/site-packages (from oauth2client) (0.19.1)
Requirement already satisfied, skipping upgrade: pyasn1-modules>=0.0.5 in /opt/conda/lib/python3.8/site-packages (from oauth2client) (0.2.8)
Requirement already satisfied, skipping upgrade: rsa>=3.1.4 in /opt/conda/lib/python3.8/site-packages (from oauth2client) (4.7.2)
Requirement already satisfied, skipping upgrade: six>=1.6.1 in /opt/conda/lib/python3.8/site-packages (from oauth2client) (1.15.0)
Requirement already satisfied, skipping upgrade: pyparsing<3,>=2.4.2 in /opt/conda/lib/python3.8/site-packages (from httplib2>=0.9.1->oauth2client) (2.4.7)

## (A) Estimate Demand System

Estimate a system of demands for different kinds of food. Characterize how consumption varies with household need.

In [2]:
#Nigeria consumption (own production) dataset

Nigeria_Data = '17L5cDhXRLNAckP3JvBLTLSYIguFqP2ebMvQLH96c0n4'

Retrieve data from google sheets using private keys:

In [3]:
import pandas as pd
import numpy as np
from eep153_tools import read_sheets

#### Need private keys from json file (we're authenticating using "service accounts")
!gpg --batch --passphrase "noodle octopus" -d ./students-9093fa174318.json.gpg > ./students-9093fa174318.json
####

# Add credentials if sheet not meant to be public
exp_df = read_sheets(Nigeria_Data,sheet='Expenditures',json_creds='./students-9093fa174318.json')
                 
# Change 'ICRISAT' to key of your own sheet in Sheets, above
household_df = read_sheets(Nigeria_Data,sheet="HH Characteristics",json_creds='./students-9093fa174318.json')

# # Assume a single market by setting m = 1 for all
exp_df.insert(loc=2, column='m', value=1)
household_df.insert(loc=2, column='m', value=1)

gpg: AES256 encrypted data
gpg: encrypted with 1 passphrase

### Data Cleaning and filter data by our chosen population (below poverty line)

In [4]:
exp_df = exp_df.replace(0,np.nan) # Replace zeroes with np.nan

#Convert all value types to float64
for i in range(3, len(exp_df.columns)):
    exp_df.iloc[:, i:] = exp_df.iloc[:, i:].astype('float64')

In [5]:
exp_df = exp_df.replace(0.0,np.nan) # Replace zeroes with np.nan

exp_df.set_index(['j', 't', 'm'])
household_df.set_index(['j','t','m'],inplace=True)

#### Create total expenditure column and filter expenditure dataframe by our condition

In [6]:
exp_df['Total expenditure'] = exp_df.iloc[:, 3:].sum(axis=1)
pd.DataFrame(exp_df['Total expenditure'])

       Total expenditure
0                20225.0
1                15365.0
2                 4675.0
3                 4465.0
4                 7565.0
...                  ...
19136            31100.0
19137             6410.0
19138            20540.0
19139            22650.0
19140             7550.0

[19141 rows x 1 columns]

#### Food Expenditure Dataframe (All)

In [7]:
#t = period
#j = idx
#m = market
exp_df

,t,j,m,"(Cocoyam, Spinach, etc)",Agricultural eggs,Animal fat,Apples,Avocado pear,Baby milk powder,Bananas,...,Tea,Tomato puree(canned),Tomatoes,Watermelon,Wheat flour,White beans,Wild game meat,Yam flour,Yam-roots,Total expenditure
0,2010,10001,1,NaN,280.0,NaN,NaN,NaN,NaN,200.0,...,NaN,150.0,150.0,NaN,NaN,600.0,NaN,NaN,1500.0,20225.0
1,2010,10002,1,NaN,280.0,NaN,NaN,NaN,NaN,180.0,...,140.0,240.0,120.0,NaN,NaN,400.0,NaN,NaN,1200.0,15365.0
2,2010,10003,1,NaN,180.0,NaN,NaN,NaN,NaN,100.0,...,60.0,90.0,100.0,NaN,NaN,100.0,NaN,NaN,400.0,4675.0
3,2010,10004,1,NaN,180.0,NaN,NaN,NaN,NaN,100.0,...,30.0,60.0,100.0,NaN,NaN,100.0,NaN,NaN,400.0,4465.0
4,2010,10006,1,NaN,NaN,NaN,NaN,NaN,NaN,300.0,...,650.0,NaN,400.0,NaN,NaN,NaN,NaN,NaN,400.0,7565.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19136,2018,379146,1,NaN,1100.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,500.0,NaN,NaN,NaN,NaN,1800.0,31100.0
19137,2018,379148,1,100.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,60.0,200.0,150.0,NaN,NaN,NaN,NaN,1600.0,6410.0
19138,2018,379151,1,NaN,900.0,NaN,NaN,NaN,NaN,500.0,...,NaN,150.0,600.0,600.0,750.0,1600.0,NaN,NaN,3500.0,20540.0
19139,2018,379154,1,200.0,1200.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,100.0,200.0,NaN,NaN,NaN,NaN,650.0,22650.0
19140,2018,379155,1,100.0,950.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,300.0,200.0,NaN,NaN,NaN,NaN,2500.0,7550.0

#### Food Expenditure Dataframe (Total spending under or equal to poverty line)

In [8]:
#87.8 thousand Naira food spending per year
#1688.46 per week
wk_poverty_line = 87800/52 

exp_df = exp_df[exp_df['Total expenditure'] <= wk_poverty_line]
exp_df

,t,j,m,"(Cocoyam, Spinach, etc)",Agricultural eggs,Animal fat,Apples,Avocado pear,Baby milk powder,Bananas,...,Tea,Tomato puree(canned),Tomatoes,Watermelon,Wheat flour,White beans,Wild game meat,Yam flour,Yam-roots,Total expenditure
25,2010,10028,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN,NaN,1210.0
56,2010,10059,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.0,1010.0
60,2010,10063,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,35.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,1365.0
66,2010,10069,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN,300.0,1050.0
72,2010,10075,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.0,NaN,100.0,NaN,NaN,60.0,NaN,NaN,NaN,1450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19099,2018,379085,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,450.0,NaN,NaN,NaN,1240.0
19103,2018,379090,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,200.0,NaN,NaN,NaN,NaN,NaN,NaN,1200.0
19104,2018,379091,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1400.0
19105,2018,379092,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1190.0
19130,2018,379127,1,NaN,NaN,NaN,NaN,NaN,NaN,150.0,...,NaN,350.0,NaN,200.0,NaN,NaN,NaN,NaN,NaN,800.0

#### Food Consumption Table (after using np.log)

Also a dataframe of log expenditures $y$ with a similarly simple
structure.  Note that any expenditures of zero are dropped and
replaced with a missing value indicator.

In [9]:
# Take logs of expenditures; call this y_exp_df
y_exp_df = np.log(exp_df.set_index(['j', 't', 'm']))
y_exp_df

,,,"(Cocoyam, Spinach, etc)",Agricultural eggs,Animal fat,Apples,Avocado pear,Baby milk powder,Bananas,Beef,Beer (local and imported),Biscuits,...,Tea,Tomato puree(canned),Tomatoes,Watermelon,Wheat flour,White beans,Wild game meat,Yam flour,Yam-roots,Total expenditure
j,t,m,,,,,,,,,,,,,,,,,,,,,
10028,2010,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.605170,NaN,NaN,NaN,NaN,NaN,NaN,7.098376
10059,2010,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.787492,6.917706
10063,2010,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.555348,4.605170,NaN,NaN,NaN,NaN,NaN,NaN,7.218910
10069,2010,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.605170,NaN,NaN,NaN,NaN,NaN,5.703782,6.956545
10075,2010,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.401197,NaN,4.605170,NaN,NaN,4.094345,NaN,NaN,NaN,7.279319
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379085,2018,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.010635,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,6.109248,NaN,NaN,NaN,7.122867
379090,2018,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.214608,NaN,NaN,...,NaN,NaN,5.298317,NaN,NaN,NaN,NaN,NaN,NaN,7.090077
379091,2018,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.244228
379092,2018,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.912023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.081709
379127,2018,1,NaN,NaN,NaN,NaN,NaN,NaN,5.010635,NaN,NaN,NaN,...,NaN,5.857933,NaN,5.298317,NaN,NaN,NaN,NaN,NaN,6.684612

#### Household Characteristic Table

In [12]:
index_y_exp_df = y_exp_df.index.tolist()
household_df = household_df[household_df.index.isin(index_y_exp_df)]
household_df

,,,M 0-3,M 4-8,M 9-13,M 14-18,M 19-30,M 31-50,M 51+,F 0-3,F 4-8,F 9-13,F 14-18,F 19-30,F 31-50,F 51+
j,t,m,,,,,,,,,,,,,,
10028,2010,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
10059,2010,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
10063,2010,1,0,0,0,0,3,0,1,0,0,0,0,0,0,1
10069,2010,1,0,0,0,0,1,0,0,0,0,1,1,3,0,1
10075,2010,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379085,2018,1,0,2,0,1,0,1,0,0,0,0,0,0,0,0
379090,2018,1,1,0,2,0,0,1,0,0,1,0,2,0,1,1
379091,2018,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0
379092,2018,1,0,0,1,0,1,0,0,2,2,0,0,2,0,0
379127,2018,1,1,0,0,0,0,1,0,0,0,1,0,1,0,0

### Estimation

With nothing more than this, we can estimate the demand system.  This
happens in two steps.  The first is the &ldquo;reduced form&rdquo; step:

In [13]:
import cfe

result = cfe.Result(y=y_exp_df,z=household_df)

AssertionError: Fewer rows than columns.  Consider passing the transpose.

This creates a complicated &ldquo;Result&rdquo; object, with lots of different
attributes.  Note from below that attributes $y$ and $z$ are now defined.

In [ ]:
result

### First step of Estimation

Recall that there are two steps to estimation; the first step
involves estimating the &ldquo;reduced form&rdquo; linear regression 
$$
y_{it}^j = {a}_{it} + \delta_i'{z}^j_t + \epsilon_{it}^j.
$$

The Result class has code to estimate this in one line:

In [ ]:
result.get_reduced_form()

After running this we can examine the estimated coefficients $\delta$:

In [ ]:
result.delta.to_dataframe().unstack('k')

Also the good-time constants $a_{it}$ (this captures the effects of prices)

In [ ]:
result.a.to_dataframe().unstack('i')

### Second step of Estimation

The second step involves using Singular Value Decomposition to find
the rank one matrix that best approximates the residuals $e_{it}^j$.
This can be interpreted as
$$
    -\beta_i\log\lambda^j_t,
$$
where the $\log\lambda^j_t$ is the log of the marginal utility of
expenditures (MUE) for household $j$ at time $t$, and where $\beta_i$ are
the corresponding &ldquo;Frisch elasticities&rdquo; that tell us how much
demand changes as the MUE falls.

Estimates can also be computed as a one-liner:

In [ ]:
result.get_beta(as_df=True)

That&rsquo;s all there is to estimation!  Note that we didn&rsquo;t estimate
demands for all goods&#x2014;lots of goods didn&rsquo;t have enough observations,
and were automatically dropped.  (This can be controlled using the
`min_proportion_items` and `min_xproducts` attributes when one
instantiates the result object.)

### Assessment of Fit

Now, let&rsquo;s see how we did, by comparing total expenditures predicted by the
model we&rsquo;ve estimated with actual total expenditures:

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib.cm as cm

xbar = np.exp(result.y).sum(['m','i']).to_dataframe('xbar').replace(0,np.nan).squeeze()
xhat = result.get_predicted_expenditures().sum(['m','i']).to_dataframe('xhat').replace(0,np.nan).squeeze()

# Make dataframe of actual & predicted
df = pd.DataFrame({'Actual':np.log(xbar),'Predicted':np.log(xhat)})

df.plot.scatter(x='Predicted',y='Actual')

# Add 45 degree line
v = plt.axis()
vmin = np.max([v[0],v[2]])
vmax = np.max([v[1],v[3]])
plt.plot([vmin,vmax],[vmin,vmax])

## (B) Nutritional content of different foods

For all the foods you're considering you'll need to be able to describe their nutritional content, in terms that allow you to compare with recommended daily allowances.

## (B) Engel's Law

Explore the validity of Engel's Law (the proposition that the share of food in a household's budget falls with the overall size of the budget) in the context of our population.

## (B) Nutritional adequacy of diet

Given the food actually consumed in your data, what can you say about the adequacy of the diets in the population you're studying? What proportion of households consume enough so that members will exceed dietary recommendations? What proportion do not?

## (C) Counterfactual Experiments

If everyone's total food expenditures doubled (holding prices fixed) how would this affect nutrition in the population? What if relative food prices changed? Think of other counterfactual experiments that might be interesting.